@media(max-width: 700px) {
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(../images/jupiter.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-color: black;
        position: absolute;
        color: rgb(255, 250, 250);
        #questionnaire {
            display: block;

            #quiz {
                display: grid;
            }

        }

        .container {
            top:50%;
            left:50%;
            width: 130px;
            text-align: center;
          }
          .button {
            display: inline-block;
            background-color: rgb(123, 56, 216);
            border-radius: 20px;
            border:none;
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
          }
          
          .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          }
          
          .button span:after {
            content: '\272F';
            position: absolute;
            opacity: 0;
            top: -6px;
            right: -20px;
            transition: 0.5s;
          }
          
          .button:hover span {
            padding-right: 25px;
          }
          
          .button:hover span:after {
            opacity: 1;
            right: 0;
          }
    }

    
}

@media(min-width: 700px) {

    body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(../images/mercury.jpg), url(../images/jupiter.jpg);
        background-repeat: no-repeat, no-repeat;
        background-position: bottom, top;
        position: relative;
        color: rgb(255, 250, 250);
        #heading {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: rgb(123, 56, 216);
            margin: 0;

            h1 {
                margin: 0;
            }
        }

        .container {
            top:50%;
            left:50%;
            width: 130px;
            text-align: center;
          }
          .button {
            display: inline-block;
            background-color: rgb(123, 56, 216);
            border-radius: 20px;
            border:none;
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
          }
          
          .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          }
          
          .button span:after {
            content: '\272F';
            position: absolute;
            opacity: 0;
            top: -6px;
            right: -20px;
            transition: 0.5s;
          }
          
          .button:hover span {
            padding-right: 25px;
          }
          
          .button:hover span:after {
            opacity: 1;
            right: 0;
          }
    }

}